$white: #ffffff;
$black: #000000;

$primary-color: #FFB26B;
$primary-blue:#023F88;
$bg-grey: #e5e5e5;
$gray: #424242;
$green: #09D71E;
$red: #ff0000;
$gray-color: #606060;
$gray-44: #444444;
$gray-3D: #3d4856;
$gray-6C: #6c6c6c;
$gray-90: #909090;
$gray-55: #555555;
$danger: #f53232;
$blue: #4976f2;
$drk-blue: #007bff;

.tc-primary {
  color: #003B6D;
}
.tc-icon-colour {
  color: $gray-90;
}

.fs-6{
  font-size: fontSize(6px);
}