.treatment-done-new {
  background-color: #ffffff;
  .header {
    .select-year {
      .name {
        width: 120px;
      }
      .input-group {
        width: 100px;
      }
    }
  }
  .cart-border {
    border: 1px solid black;
  }
  .form-check {
    margin-top: -15px;
  }
  .item-list {
    .table {
      max-height: 500px;
      overflow-y: auto;
      .reversal {
        color: black;
        border: 1px solid;
        margin: 5px;
        padding: 0px 5px;
        background: #ffffff;
        font-weight: 700;
      }
    }
  }
}
.transaction-done-reversal {
  .treatment-done {
    .adjustment {
      .select {
        .select-form-control {
          height: 100%;
        }
        .select-icon {
          top: 11px;
        }
      }
    }
  }
}
.treatment-done {
  .emp-image {
    .emp {
      width: 100px;
      text-align: center;
    }
  }
}
.treatmentDone-menu {
  .menus.active {
    background: #ffb26b;
    padding: 10px;
    width: 100%;
    border: 10px;
    border-radius: 3px;
    text-align: center;
  }
}

.btnRedeem {
  cursor: pointer;
  border: 1px solid #1a202c;
  padding: 8px;
  min-width: 64px;
  background: green;
  transition: all 0.1s ease-in;
  border-radius: 25px;
  color: #ffffff;
}
.btnReversal {
  cursor: pointer;
  border: 1px solid #1a202c;
  padding: 8px;
  min-width: 64px;
  background: #ffb26b;
  transition: all 0.1s ease-in;
  border-radius: 25px;
  color: #ffffff;
}
 
.btnRedeem:hover {
  background: #1a202c;
  color: #ffffff;
}
 
.btnReversal:hover {
  background: #1a202c;
  color: #ffffff;
}