@import "assets/scss/abstracts/abstracts-dir.scss";

.make-payment {
  .btn {
    max-width: 198px;
    height: 50px;
    margin: auto;
  }
}
.make-payment-section {
  background: $white;
  padding: 15px;
  min-height: 489px;
  h4 {
    font-family: Muli-SemiBold;
    font-size: fontSize(20px);
  }
  .payment,
  .subtotal {
    border: 1px solid #ffb26b;
  }
  .payment {
    height: 358px;
    overflow-y: auto;
    .credit-card {
      width: 560px;
      z-index: 9;
      position: relative;
    }
  }
}
.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type="radio"] {
  display: none;
}

.radio-item label {
  color: #666;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #ffa500;
  background-color: transparent;
}

.radio-item input[type="radio"]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #ffa500;
}

.input-group {
  .select .select-icon {
    top: 16px;
  }
}

.transaction-discount-update {
  .title {
    font-weight: 700;
  }
  .payment-detail {
    border-top: 1px solid #ffa500;
    p {
      line-height: 30px;
    }
    .reset-button {
      button {
        position: absolute;
        width: 80px;
        height: 30px;
        padding: 0px;
        bottom: -15px;
        left: -15px;
      }
    }
  }
}

.treatment-done {
  .staff-listing {
    .staff-list {
      // width: 62px;
      // height: 62px;
      img {
        width: 62px;
        height: 62px;
      }
    }
  }
  .discount {
    textarea {
      width: 100%;
      background: #f9f9f9;
      border: none;
    }
    .apply {
      justify-content: center;
      .confirm {
        width: 100px;
        height: 30px;
        padding: 0px;
        background: #09d71e;
        color: #f9f9f9;
        &:hover {
          border: 1px solid #09d71e;
          background: #f9f9f9;
          color: #09d71e;
        }
      }
      .reset {
        width: 100px;
        height: 30px;
        padding: 0px;
        background: #ffa500;
        color: #f9f9f9;
        &:hover {
          border: 1px solid #ffa500;
          background: #f9f9f9;
          color: #ffa500;
        }
      }
    }
  }
  .input-group {
    .special {
      background: #fbfe8f;
    }
  }
  .display-none {
    display: none !important;
  }
}

.customer-select {
  .modal-body {
    .confirm {
      width: 100px;
      height: 30px;
      padding: 0px;
    }
  }
}

.retail-price-modal {
  .modal-body {
    .addtocart {
      button {
        height: 30px;
        padding: 0px;
      }
    }
  }
}

.borderless td, .borderless th {
  border: none;
}

.accordion-menu:hover {
  background-color: #ccc;
  cursor:pointer
}