.kpi-dashboard {
  .icon-calendar {
    margin-top: 45px;
    margin-right: 10px;
    font-size: 25px;
  }
}
.kpi-options {
  .treeview {
      overflow: visible !important;
      z-index: 999 !important;
  }
}
